 <html>
            <head>
            				<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  padding: 10px 16px;
  background: skyblue;
  color: #f1f1f1;
  position: fixed;
  top: 0;
  width: 100%;
}

.ab
{
  word-spacing: 30 px;
  /* padding :20px; */
}

</style>
            </head>
        <body bgcolor="white">
<br><br>
<div class="header"><a href="home"><img src ="https://www.googleapis.com/drive/v3/files/1Ix9YIpWiC6WnuzsW9hH0k1hT7aIf8nti?alt=media&key=AIzaSyBMSDQ0hzweDt3ZgIot1tnX5q4xHdtid4c" align="left" alt="TRANSFORM GYM" width="187.4" height="52.8"></a>
<div align="right">
<br><a href="membership">Membership</a>&emsp;<a href="profile">Edit Profile</a>&emsp;
</div>
</div>
<div>
  <b>
<br><br><br><br><b>Hii,<input type="text" placeholder="user Name"><br><br>
   Date of Joining<input type="date" placeholder="Date of Joining"><br><br>
Trainer Name <input type="text" placeholder="Trainer Name"><br><br>

<p>Membership Validity</p>
<p>Start Date :</p><input type="date" placeholder="Date of Joining"><br>
<p>End Date :</p><input type="date" placeholder="Date of Joining"><br> <br> 

</b>
</div>


</body>
</html>
